#part1 {
    display: block;
}

#part2 {
    display: none;
}

#part3 {
    display: none;
}

#part4 {
    display: none;
}

#part5 {
    display: none;
}

#part6 {
    display: none;
}

#part7 {
    display: none;
}