@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Frame.cshtml";
}
<html>
<head>
    <link href="~/CSS/HomePageIndex.css" rel="stylesheet" />
</head>

<body>
    <h2>Welcome to Seán's first Website</h2>
    <div class="fb-like" data-href="http://www.mshoatoeic.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

    <div class="fb-comments" data-href="http://www.mshoatoeic.com/" data-width="620" data-numposts="1"></div>
</body>
</html>






