
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Luyện thi TOEIC 4 kỹ năng, Tiếng Anh giao tiếp, Ms Hoa TOEIC - Sứ giả truyền cảm hứng - Ms Hoa TOEIC</title>
    <link rel="stylesheet" href="~/CSS/MenuTop.css" />
    <link href="~/CSS/MenuLeft.css" rel="stylesheet" />
    <link href="~/CSS/MenuBot.css" rel="stylesheet" />
    <link href="~/CSS/Images.css" rel="stylesheet" />
    @*collapse*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.collapse.js"></script>
</head>
<body>
    @*frame*@
    <div class="frame">

        

        @*menu-top*@
        <div class="menu-top">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li>
                    <a href="">Về chúng tôi</a>
                    <ul>
                        <li><a href="">Về Ms Hoa TOEIC</a></li>
                        <li><a href="">Ms Hoa TOEIC là ai?</a></li>
                        <li><a href="">Ms Hoa's Blog</a></li>
                        <li><a href="">Hệ thống cơ sở Ms Hoa TOEIC</a></li>
                        <li><a href="">Báo chí viết về Ms Hoa TOEIC</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Đội ngũ Sứ giả</a>
                    <ul>
                        <li><a href="">Đội ngũ Sứ giả Hà Nội</a></li>
                        <li><a href="">Đội ngũ Sứ giả HCM</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Học viên Chúng tôi</a>
                    <ul>
                        <li><a href="">Vinh danh HV TOEIC List & Read</a></li>
                        <li><a href="">Vinh danh HV TOEIC Speak & Write</a></li>
                        <li><a href="">Cảm nhận của học viên</a></li>
                        <li><a href="">Hoạt động ngoại khoá</a></li>
                        <li><a href="">Học bổng Ước mơ</a></li>
                        <li><a href="">"Khoảnh khắc Ms Hoa TOEIC"</a></li>
                        <li><a href="">Ms Hoa TOEIC's Got Talent</a></li>
                        <li><a href="">Cuộc thi "Ngàn lời tri ân"</a></li>
                        <li><a href="">Cuộc thi Ms Hoa TOEIC tới Sài Gòn</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">LỊCH KHAI GIẢNG</a>
                    <ul>
                        <li><a href="">Lịch khai giảng Hà Nội</a></li>
                        <li><a href="">Lịch khai giảng HCM</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Test</a>
                    <ul>
                        <li><a href="">Full Test TOEIC List & Read</a></li>
                        <li><a href="">Full Test TOEIC Speaking</a></li>
                        <li><a href="">Full Test TOEIC Writing</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Video TOEIC</a>
                    <ul>
                        <li><a href="">Bài giảng TOEIC Reading, Listening</a></li>
                        <li><a href="">Tiếng Anh giao tiếp Công việc</a></li>
                        <li><a href="">Đội ngũ Sứ giả</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Khóa học</a>
                    <ul>
                        <li><a href="">Khóa Pre TOEIC cho người bắt đầu</a></li>
                        <li><a href="">Khóa TOEIC A (500-550+)</a></li>
                        <li><a href="">Khóa TOEIC B (650-750+)</a></li>
                        <li><a href="">Khóa giao tiếp công việc ĐỘT PHÁ</a></li>
                        <li><a href="">TOEIC Cấp tốc theo yêu cầu</a></li>
                        <li><a href="">Khoá học Tiếng Anh doanh nghiệp</a></li>
                        <li><a href="">Lớp TOEIC C (800-990)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Bài tập các lớp</a>
                    <ul>
                        <li><a href="">File nghe & Tapescript</a></li>
                        <li><a href="">Bài tập luyện thêm</a></li>
                        <li><a href="">Actual Test</a></li>
                        <li><a href="">Mid, Final Test for Communication Class</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Test Review</a>
                    <ul>
                        <li><a href="">TOEIC Speaking</a></li>
                        <li><a href="">TOEIC Writing</a></li>

                    </ul>
                </li>
                <li><a href="">Liên hệ</a></li>
            </ul>
            <div class="clear"></div> @*h = 0 ->*@
        </div>
        @*menu-top-end*@

        @*menu-left*@
        <div id="menu-left">
            <ul>
                <li class="menu-left-1">
                    <a href="">Chia sẻ List & Read</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 250 - 500</a>
                            <ul class="sub-menu">
                                <li><a href="">Reading</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>

                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 500 - 750</a>
                            <ul class="sub-menu">
                                <li><a href="">Reading</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>
                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 750 - 990</a>
                            <ul class="sub-menu">
                                <li><a href="">Reading</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">Luyện tập List & Read</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 250 - 500</a>
                            <ul class="sub-menu">
                                <li><a href="">Photo</a></li>
                                <li><a href="">Question-Response</a></li>
                                <li><a href="">Short conversation</a></li>
                                <li><a href="">Short talk</a></li>
                                <li><a href="">Incomplete Sentence</a></li>
                                <li><a href="">Text completion</a></li>
                                <li><a href="">Single passage</a></li>
                                <li><a href="">Double passage</a></li>
                            </ul>

                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 500 - 750</a>
                            <ul class="sub-menu">
                                <li><a href="">Photo</a></li>
                                <li><a href="">Question-Response</a></li>
                                <li><a href="">Short conversation</a></li>
                                <li><a href="">Short talk</a></li>
                                <li><a href="">Incomplete Sentence</a></li>
                                <li><a href="">Text completion</a></li>
                                <li><a href="">Single passage</a></li>
                                <li><a href="">Double passage</a></li>
                            </ul>
                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 750 - 990</a>
                            <ul class="sub-menu">
                                <li><a href="">Photo</a></li>
                                <li><a href="">Question-Response</a></li>
                                <li><a href="">Short conversation</a></li>
                                <li><a href="">Short talk</a></li>
                                <li><a href="">Incomplete Sentence</a></li>
                                <li><a href="">Text completion</a></li>
                                <li><a href="">Single passage</a></li>
                                <li><a href="">Double passage</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">Test TOEIC List & Read</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Mini test</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Skill test</a>
                            <ul class="sub-menu">
                                <li><a href="">Photo</a></li>
                                <li><a href="">Question-Response</a></li>
                                <li><a href="">Short conversation</a></li>
                                <li><a href="">Short talk</a></li>
                                <li><a href="">Incomplete Sentence</a></li>
                                <li><a href="">Text completion</a></li>
                                <li><a href="">Reading comprehen</a></li>
                            </ul>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Full test</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">TOEIC Speaking</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 0-100</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 110-150</a>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 160-200</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">Practice TOEIC Speaking</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 0-100</a>
                            <ul class="sub-menu">
                                <li><a href="">Read a Text aloud</a></li>
                                <li><a href="">Describe a Picture</a></li>
                                <li><a href="">Respond Questions I</a></li>
                                <li><a href="">Respond Questions II</a></li>
                                <li><a href="">Propose a Solution</a></li>
                                <li><a href="">Express an Opinion</a></li>
                                <li><a href="">Vocabulary</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 110-150</a>
                            <ul class="sub-menu">
                                <li><a href="">Read a Text aloud</a></li>
                                <li><a href="">Describe a Picture</a></li>
                                <li><a href="">Respond Questions I</a></li>
                                <li><a href="">Respond Questions II</a></li>
                                <li><a href="">Propose a Solution</a></li>
                                <li><a href="">Express an Opinion</a></li>
                                <li><a href="">Vocabulary</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 160-200</a>
                            <ul class="sub-menu">
                                <li><a href="">Read a Text aloud</a></li>
                                <li><a href="">Describe a Picture</a></li>
                                <li><a href="">Respond Questions I</a></li>
                                <li><a href="">Respond Questions II</a></li>
                                <li><a href="">Propose a Solution</a></li>
                                <li><a href="">Express an Opinion</a></li>
                                <li><a href="">Vocabulary</a></li>
                                <li><a href="">Listening</a></li>
                            </ul>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Full Test TOEIC Speaking</a>

                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">TOEIC Writing</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 0-100</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 110-150</a>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 160-200</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">Practice TOEIC Writing</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 0-100</a>
                            <ul class="sub-menu">
                                <li><a href="">Write a Sentence</a></li>
                                <li><a href="">Respond a Request</a></li>
                                <li><a href="">Write an Opinion Essay</a></li>
                            </ul>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 110-150</a>
                            <ul class="sub-menu">
                                <li><a href="">Write a Sentence</a></li>
                                <li><a href="">Respond a Request</a></li>
                                <li><a href="">Write an Opinion Essay</a></li>
                            </ul>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 160-200</a>
                            <ul class="sub-menu">
                                <li><a href="">Write a Sentence</a></li>
                                <li><a href="">Respond a Request</a></li>
                                <li><a href="">Write an Opinion Essay</a></li>
                            </ul>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Full Test TOEIC Writing</a>

                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">Download sách</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 250 - 500</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 500 - 750</a>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Level 750 - 990</a>

                        </li>
                    </ul>
                </li>

                <li class="menu-left-1">
                    <a href="">English corner</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Video TOEIC</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Funny English</a>

                        </li>
                        <li class="menu-left-2" data-collapse>
                            <a href="">The Beauty of English</a>

                        </li>
                    </ul>
                </li>

                <li class="menu-left-1"><a href="">Học tiếng Anh giao tiếp</a></li>

                <li class="menu-left-1"><a href="">Thông tin về TOEIC</a></li>

                <li class="menu-left-1">
                    <a href="">LỊCH KHAI GIẢNG</a>
                    <ul>
                        <li class="menu-left-2" data-collapse>
                            <a href="">Lịch khai giảng Hà Nội</a>
                        </li>

                        <li class="menu-left-2" data-collapse>
                            <a href="">Lịch khai giảng Hồ Chí Minh</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
        @*menu-left-end*@

        @*menu-bot*@
        <div class="menu-bot">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">VINH DANH Học viên</a></li>
                <li><a href="">Cảm nhận Học viên</a></li>
                <li><a href="">Lịch KG HN</a></li>
                <li><a href="">Lịch KG HCM</a></li>
                <li><a href="">Download sách</a></li>
                <li><a href="">Tuyển dụng</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        @*menu-bot-end*@

        <div id="img-footer">
            <img src="~/images/co-so.jpg" alt="" />
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    @*frame-end*@

</body>
</html>
